<a href="https://colab.research.google.com/github/bw-spotify2/ds/blob/master/Song_Selector_Model_Building.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Initial building of the model.

### Load in the Dataset

In [1]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Lambda/Unit 4/Sprint 4/SpotifyFeatures.csv')
df.sample(10)

              genre              artist_name  ... time_signature valence
135379       Reggae             Babe Rainbow  ...            4/4   0.563
104142    Classical  Wolfgang Amadeus Mozart  ...            4/4   0.213
227090         Soul                    HONNE  ...            4/4   0.301
4415        Country              Josh Turner  ...            4/4   0.593
93657         Indie              Sasha Sloan  ...            4/4   0.504
144261        Indie            Missy Higgins  ...            4/4   0.347
127177    Classical         Sergei Prokofiev  ...            3/4   0.177
10242   Alternative                 Eric Lau  ...            4/4   0.853
8984        Country            George Strait  ...            4/4   0.332
32676         Anime               Hachioji P  ...            4/4   0.699

[10 rows x 18 columns]

In [2]:
df['mode'] = df['mode'].replace({"Major":1, "Minor":0})
df.head()

   genre        artist_name  ... time_signature valence
0  Movie     Henri Salvador  ...            4/4   0.814
1  Movie  Martin & les f√©es  ...            4/4   0.816
2  Movie    Joseph Williams  ...            5/4   0.368
3  Movie     Henri Salvador  ...            4/4   0.227
4  Movie       Fabien Nataf  ...            4/4   0.390

[5 rows x 18 columns]

In [3]:
df['time_signature'].value_counts()

4/4    200760
3/4     24111
5/4      5238
1/4      2608
0/4         8
Name: time_signature, dtype: int64

In [4]:
df['time_signature'] = df['time_signature'].replace({'4/4':4,'3/4':3,'5/4':5,'1/4':1,'0/4':0})
df.head()

   genre        artist_name  ... time_signature valence
0  Movie     Henri Salvador  ...              4   0.814
1  Movie  Martin & les f√©es  ...              4   0.816
2  Movie    Joseph Williams  ...              5   0.368
3  Movie     Henri Salvador  ...              4   0.227
4  Movie       Fabien Nataf  ...              4   0.390

[5 rows x 18 columns]

In [5]:
df['key'].value_counts()

C     27583
G     26390
D     24077
C#    23201
A     22671
F     20279
B     17661
E     17390
A#    15526
F#    15222
G#    15159
D#     7566
Name: key, dtype: int64

In [6]:
key_dict = {'C':0,'C#':1,'D':2,'D#':3,'E':4,'F':5,'F#':6,'G':7,'G#':8,'A':9,'A#':10,'B':11}
df['key'] = df['key'].replace(key_dict)
df.head()

   genre        artist_name  ... time_signature valence
0  Movie     Henri Salvador  ...              4   0.814
1  Movie  Martin & les f√©es  ...              4   0.816
2  Movie    Joseph Williams  ...              5   0.368
3  Movie     Henri Salvador  ...              4   0.227
4  Movie       Fabien Nataf  ...              4   0.390

[5 rows x 18 columns]

In [7]:
# Connect to the API in case we need to look at it's output

!pip install spotipy --upgrade
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd
import time 

client_id = '14f59f665a094868921bdd76e420d7c0'
client_secret = '5e16ddb0f2ed45a69949330bbd34351a'
username = 'mahoryu'

client_credentials_manager = SpotifyClientCredentials(client_id, client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

Collecting spotipy
  Downloading https://files.pythonhosted.org/packages/f1/62/210c7942dede1c0d39aa56520d59c4565e232f957ea4caea87da7e6f3e61/spotipy-2.13.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (2.23.0)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (1.12.0)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2.9)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2020.4.5.2)
Installing collected packages: spotipy
Successfully installed spotipy-2.13.0

### Define the columns we want to use and make a df with it

In [8]:
# define headers
headers = ['acousticness','danceability','duration_ms','energy','instrumentalness','liveness','loudness','speechiness','tempo','valence', 'key', 'mode', 'time_signature']
df_new = df[headers]

In [9]:
df_new.head()

   acousticness  danceability  duration_ms  ...  key  mode  time_signature
0         0.611         0.389        99373  ...    1     1               4
1         0.246         0.590       137373  ...    6     0               4
2         0.952         0.663       170267  ...    0     0               5
3         0.703         0.240       152427  ...    1     1               4
4         0.950         0.331        82625  ...    5     1               4

[5 rows x 13 columns]

In [10]:
df_new.shape

(232725, 13)

### Make the model

In [11]:
# imports 

from keras.models import Model
from keras.layers import Input, Dense
from keras import regularizers
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

Using TensorFlow backend.

In [12]:
# Normalise the data
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(df_new)

#### Pickle the Scaler

In [13]:
import pickle

# Dump the trained classifier (scaler)  with Pickle
pickle_filename_1 = 'scaler_model.pkl'
pickled_model_1 = open(pickle_filename_1, 'wb')  # Open the file to save as pkl file
pickle.dump(scaler, pickled_model_1)
pickled_model_1.close() # Close the pickle instances

# Loading the saved model
model_pkl_1 = open(pickle_filename_1, 'rb')
scaler_model = pickle.load(model_pkl_1)
print ("Loaded model :: ", scaler_model)  # print to verify

Loaded model ::  MinMaxScaler(copy=True, feature_range=(0, 1))

#### Create actual Model

In [14]:
# set the scaled data to a new df
df_scaled = pd.DataFrame(data_scaled,columns=headers)
df_scaled.head()

   acousticness  danceability  duration_ms  ...       key  mode  time_signature
0      0.613454      0.356292     0.015167  ...  0.090909   1.0             0.8
1      0.246988      0.571934     0.022029  ...  0.545455   0.0             0.8
2      0.955823      0.650252     0.027969  ...  0.000000   0.0             1.0
3      0.705823      0.196438     0.024747  ...  0.090909   1.0             0.8
4      0.953815      0.294067     0.012142  ...  0.454545   1.0             0.8

[5 rows x 13 columns]

In [15]:
# create the actual autoencoder

# set the input dimentions to what is in the df_new
input_dim = df_new.shape[1]  # 13

# Number of neurons in each Layer [13, 8, 3, ...] of encoders
input_layer = Input(shape=(input_dim, ))
encoder_layer_1 = Dense(8, activation="relu", activity_regularizer=regularizers.l1(10e-5))(input_layer)
encoder_layer_2 = Dense(3, activation="relu")(encoder_layer_1)

# Crear encoder model
encoder = Model(inputs=input_layer, outputs=encoder_layer_2)

decoder_1 = Dense(8, activation='relu')(encoder_layer_2)
decoder_output = Dense(input_dim, activation = 'sigmoid')(decoder_1)

autoencoder = Model(input_layer, decoder_output)

autoencoder.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 13)                0
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 112
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 27
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 32
_________________________________________________________________
dense_4 (Dense)              (None, 13)                117
=================================================================
Total params: 288
Trainable params: 288
Non-trainable params: 0
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import EarlyStopping

# compile the autoencoder
autoencoder.compile(optimizer='nadam',
                    loss='binary_crossentropy') 
                    
stop = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=2)

# fit the model
autoencoder.fit(df_scaled, df_scaled,
                epochs=100,
                batch_size=32,
                validation_split=0.2,
                callbacks=[stop])

Train on 186180 samples, validate on 46545 samples
Epoch 1/100
186180/186180 [==============================] - 30s 162us/step - loss: 0.4512 - val_loss: 0.4285
Epoch 2/100
186180/186180 [==============================] - 29s 156us/step - loss: 0.4269 - val_loss: 0.4224
Epoch 3/100
186180/186180 [==============================] - 28s 153us/step - loss: 0.4220 - val_loss: 0.4156
Epoch 4/100
186180/186180 [==============================] - 28s 153us/step - loss: 0.4174 - val_loss: 0.4147
Epoch 5/100
186180/186180 [==============================] - 28s 153us/step - loss: 0.4166 - val_loss: 0.4140
Epoch 6/100
186180/186180 [==============================] - 28s 152us/step - loss: 0.4164 - val_loss: 0.4145
Epoch 7/100
186180/186180 [==============================] - 28s 152us/step - loss: 0.4163 - val_loss: 0.4152

In [17]:
# Use the model to predict the factors which sum up the selected atributes of the songs,
#   by making an encoded_data df.
encoded_data = pd.DataFrame(encoder.predict(data_scaled))
encoded_data.columns = ['x', 'y', 'z']
encoded_data.head()

          x         y         z
0  0.753564  1.530286  0.956155
1  1.195169  0.626579  1.254893
2  1.729855  0.444602  1.076429
3  0.471195  1.309655  0.597276
4  0.463312  1.011971  0.383304

#### Try with less columns

(No go, we end up with a higher loss)

In [ ]:
headers = ['acousticness','danceability','energy','instrumentalness','loudness','speechiness','valence', 'key', 'mode']
df_new = df[headers]

In [ ]:
# Normalise the data
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(df_new)

# set the scaled data to a new df
df_scaled = pd.DataFrame(data_scaled,columns=headers)
df_scaled.head()

   acousticness  danceability    energy  ...  valence       key  mode
0      0.613454      0.356292  0.910909  ...    0.814  0.090909   1.0
1      0.246988      0.571934  0.737732  ...    0.816  0.545455   0.0
2      0.955823      0.650252  0.131113  ...    0.368  0.000000   0.0
3      0.705823      0.196438  0.326313  ...    0.227  0.090909   1.0
4      0.953815      0.294067  0.225209  ...    0.390  0.454545   1.0

[5 rows x 9 columns]

In [ ]:
# create the actual autoencoder

# set the input dimentions to what is in the df_new
input_dim = df_new.shape[1]  # 14

# Number of neurons in each Layer [14, 7, 3, ...] of encoders
input_layer = Input(shape=(input_dim, ))
encoder_layer_1 = Dense(6, activation="relu", activity_regularizer=regularizers.l1(10e-5))(input_layer)
encoder_layer_2 = Dense(3, activation="relu")(encoder_layer_1)

# Crear encoder model
encoder = Model(inputs=input_layer, outputs=encoder_layer_2)

decoder_1 = Dense(6, activation='relu')(encoder_layer_2)
decoder_output = Dense(input_dim, activation = 'sigmoid')(decoder_1)

autoencoder = Model(input_layer, decoder_output)

autoencoder.summary()

Model: "model_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_5 (InputLayer)         (None, 9)                 0
_________________________________________________________________
dense_17 (Dense)             (None, 6)                 60
_________________________________________________________________
dense_18 (Dense)             (None, 3)                 21
_________________________________________________________________
dense_19 (Dense)             (None, 6)                 24
_________________________________________________________________
dense_20 (Dense)             (None, 9)                 63
=================================================================
Total params: 168
Trainable params: 168
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# compile the autoencoder
autoencoder.compile(optimizer='nadam',
                    loss='binary_crossentropy') 
                    
stop = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3)

# fit the model
autoencoder.fit(df_scaled, df_scaled,
                epochs=100,
                batch_size=128,
                validation_split=0.2,
                callbacks=[stop])

Train on 186180 samples, validate on 46545 samples
Epoch 1/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.5335 - val_loss: 0.5178
Epoch 2/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4768 - val_loss: 0.4740
Epoch 3/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4680 - val_loss: 0.4668
Epoch 4/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4654 - val_loss: 0.4621
Epoch 5/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4640 - val_loss: 0.4603
Epoch 6/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4632 - val_loss: 0.4592
Epoch 7/100
186180/186180 [==============================] - 8s 45us/step - loss: 0.4626 - val_loss: 0.4591
Epoch 8/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4622 - val_loss: 0.4590
Epoch 9/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4619 - val_loss: 0.4567
Epoch 10/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4617 - val_loss: 0.4576
Epoch 11/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4615 - val_loss: 0.4578
Epoch 12/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4614 - val_loss: 0.4569

#### Other Testing

In [24]:
########
## try resonstructing a song to see accuracy visually.
########
df_input = df_scaled[:1]
df_output = pd.DataFrame(autoencoder.predict(df_input),columns=headers)

In [ ]:
# Starting scaled data
df_input.head()

   acousticness  danceability  duration_ms  ...       key  mode  time_signature
0      0.613454      0.356292     0.015167  ...  0.090909   1.0             0.8

[1 rows x 13 columns]

In [ ]:
# reconstructed scaled data
df_output.head()

   acousticness  danceability  duration_ms  ...       key  mode  time_signature
0      0.387571       0.65317     0.035517  ...  0.122968   1.0         0.78154

[1 rows x 13 columns]

In [ ]:
# the difference between the two
df_difference = df_input-df_output
df_difference.head()

   acousticness  danceability  duration_ms  ...       key  mode  time_signature
0      0.225883     -0.296878     -0.02035  ... -0.032059   0.0         0.01846

[1 rows x 13 columns]

#### Save using Tensorflow

In [19]:
autoencoder.save('auto_model.sav')

In [27]:
import tensorflow as tf
new_model = tf.keras.models.load_model('auto_model.sav')

In [28]:
new_model.predict(df_input)

array([[3.2680255e-01, 5.5503082e-01, 4.2354852e-02, 5.9590572e-01,
        2.4852557e-07, 2.5214106e-01, 7.7141172e-01, 1.2222656e-01,
        3.9282838e-01, 4.5950353e-01, 1.0952108e-01, 1.0000000e+00,
        7.8956032e-01]], dtype=float32)

#### Pickle the Model

In [ ]:
import pickle

# Dump the trained classifier (autoencoder)  with Pickle
pickle_filename = 'autoencoder_model.pkl'
pickled_model = open(pickle_filename, 'wb')  # Open the file to save as pkl file
pickle.dump(autoencoder, pickled_model)
pickled_model.close() # Close the pickle instances

# Loading the saved model
model_pkl = open(pickle_filename, 'rb')
autoencoder_model = pickle.load(model_pkl)
print ("Loaded model :: ", autoencoder_model)  # print to verify

Loaded model ::  <keras.engine.training.Model object at 0x7f3545727fd0>

In [ ]:
# Get test data

df_input = df_scaled[:1]
encoded_data_test = pd.DataFrame(encoder.predict(df_input))
encoded_data_test.columns = ['x', 'y', 'z']
encoded_data_test.head()

          x         y         z
0  0.900296  0.941521  0.857154

In [ ]:
test_x = encoder.predict(df_input)[0][0]
test_y = encoder.predict(df_input)[0][1]
test_z = encoder.predict(df_input)[0][2]

### Get Distance

In [20]:
# example of euclidian distance
from scipy.spatial import distance
a = (1, 2, 3)
b = (4, 5, 6)
dst = distance.euclidean(a, b)

In [21]:
encoded_data.head()

          x         y         z
0  0.753564  1.530286  0.956155
1  1.195169  0.626579  1.254893
2  1.729855  0.444602  1.076429
3  0.471195  1.309655  0.597276
4  0.463312  1.011971  0.383304

In [22]:
encoded_data['track_id'] = df['track_id']
encoded_data.head()

          x         y         z                track_id
0  0.753564  1.530286  0.956155  0BRjO6ga9RKCKjfDqeFgWV
1  1.195169  0.626579  1.254893  0BjC1NfoEOOusryehmNudP
2  1.729855  0.444602  1.076429  0CoSDzoNIKCRs124s9uTVy
3  0.471195  1.309655  0.597276  0Gc6TVm52BwZD07Ki6tIvf
4  0.463312  1.011971  0.383304  0IuslXpMROHdEPvSl1fTQK

In [23]:
# save the encoded data as a .csv file    

encoded_data.to_csv("encoded_data.csv", index=False)

### Test out the pickled model

In [ ]:
# test out reading it in.
df1 = pd.read_csv("encoded_data.csv")
df1.head()

          x         y         z                track_id
0  0.900296  0.941521  0.857154  0BRjO6ga9RKCKjfDqeFgWV
1  0.517513  1.170685  0.946350  0BjC1NfoEOOusryehmNudP
2  0.526415  0.768503  1.088349  0CoSDzoNIKCRs124s9uTVy
3  0.817077  0.851855  1.309245  0Gc6TVm52BwZD07Ki6tIvf
4  0.990659  0.700613  1.353725  0IuslXpMROHdEPvSl1fTQK

In [ ]:
encoded_data_test[['x','y','z']].values

array([[0.90029585, 0.9415206 , 0.8571541 ]], dtype=float32)

In [ ]:
def get_e_dist(in_df):
  return distance.euclidean(in_df[[0,1,2]], (test_x,test_y,test_z))

In [ ]:
encoded_data['e_distance'] = encoded_data.apply(get_e_dist, axis=1)

In [ ]:
encoded_data.head()

          x         y         z                track_id    e_distance
0  0.900296  0.941521  0.857154  0BRjO6ga9RKCKjfDqeFgWV  5.960464e-08
1  0.517513  1.170685  0.946350  0BjC1NfoEOOusryehmNudP  4.549670e-01
2  0.526415  0.768503  1.088349  0CoSDzoNIKCRs124s9uTVy  4.724122e-01
3  0.817077  0.851855  1.309245  0Gc6TVm52BwZD07Ki6tIvf  4.683497e-01
4  0.990659  0.700613  1.353725  0IuslXpMROHdEPvSl1fTQK  5.592713e-01

#### Get the 5 smallest distances and show the visuals for the top 2

In [ ]:
encoded_data['e_distance'].nsmallest(5)

0         5.960464e-08
137871    3.013010e-03
190202    3.036266e-03
69761     3.136666e-03
117514    3.136666e-03
Name: e_distance, dtype: float64

In [ ]:
print(df['track_name'][0])
print(df['track_name'][137871])
print(df['track_name'][190202])

C'est beau de faire un Show
Push Push
Los Angeles Is Burning

In [ ]:
df.iloc[[0,48095,38564]]

            genre     artist_name  ... time_signature valence
0           Movie  Henri Salvador  ...            4/4   0.814
48095       Blues  Shovels & Rope  ...            4/4   0.628
38564  Electronic           Moksi  ...            4/4   0.523

[3 rows x 18 columns]

In [ ]:
df_T = df_scaled.T

In [ ]:
import plotly.express as px

fig = px.bar_polar(df_T, r = 0,hover_name=headers)
fig.show()

In [ ]:
fig = px.bar_polar(df_T, r = 48095, hover_name=headers)
fig.show()

## Build a Function for DS Unit 3 to use

In [ ]:
df.iloc[[13918]]

       genre     artist_name  ... time_signature valence
13918  Dance  Britney Spears  ...              4   0.894

[1 rows x 18 columns]

In [50]:
# test
song_at = [[0.3,0.751,211160,0.834,0.000018,0.355,-5.444,0.0437,95.053,0.894,1,0,4]]

In [54]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras import regularizers
from sklearn.preprocessing import MinMaxScaler
import pickle

### Read in the CSV ###
database = pd.read_csv('encoded_data.csv')

In [55]:
import tensorflow as tf
print(tf.__version__)
import sklearn
print(sklearn.__version__)
import pandas as pd
print(pd.__version__)
import scipy
print(scipy.__version__)

2.2.0
0.22.2.post1
1.0.5
1.4.1

In [51]:
def predict(song_attributes, database):
  """
  Need to pass in a variable that is an array with the below song attributes 
  in order.
  [[acousticness, danceability, duration_ms, energy, instrumentalness,
    liveness, loudness, speechiness, tempo, valence, key, mode, time_signature]]
  """

  df =  pd.DataFrame(song_attributes)

  ### Scale Input ###

  # import the pickled scaler model
  pickle_filename_1 = 'scaler_model.pkl'
  scaler_pkl = open(pickle_filename_1, 'rb')
  scaler = pickle.load(scaler_pkl) 

   # scale the input data
  input_scaled = scaler.transform(df)

  ### Encode Input ###

  # Loading the autoencoder model
  autoencoder = tf.keras.models.load_model('auto_model.sav')
  
  # encode the input data and set to variable
  input_x_y_z = (autoencoder.predict(input_scaled)[0][0], 
                 autoencoder.predict(input_scaled)[0][1],
                 autoencoder.predict(input_scaled)[0][2])

  ### Get distances ###
  def get_e_dist(my_df):
    from scipy.spatial import distance
    return distance.euclidean(my_df[[0,1,2]], input_x_y_z)

  database['e_distance'] = database.apply(get_e_dist, axis=1)

  five_smallest = database[['e_distance','track_id']].nsmallest(5, columns='e_distance', keep='all')

  five_closest = five_smallest['track_id']

  return five_closest.to_json()

In [52]:
test = predict(song_at, database)
test

'{"82257":"06jMsTNIcYGbz2mEMhkbyl","218964":"3vlqVtcQy8tE0ohgI3Yexu","124179":"3eQ95VwcvJUDWrD4oCUuFy","204471":"6SKpXS8halHcYPQMbSrw4N","219011":"46Ow3B8zNowJkYAOAF7R07"}'

In [53]:
df.iloc[[13918,82257,218964,124179,204471,219011]]

             genre          artist_name  ... time_signature valence
13918        Dance       Britney Spears  ...              4  0.8940
82257        Opera      Giacomo Puccini  ...              4  0.0388
218964       World    Chihei Hatakeyama  ...              4  0.0389
124179   Classical        Samuel Barber  ...              4  0.0341
204471  Soundtrack  James Newton Howard  ...              4  0.0395
219011       World    Chihei Hatakeyama  ...              4  0.0383

[6 rows x 18 columns]

In [ ]:
df_input = df_scaled.iloc[[13918,173485,175642,211588,171599,174847]]
df_output = pd.DataFrame(autoencoder.predict(df_input),columns=headers)

In [ ]:
df_input = df_input.reset_index()
df_input

    index  acousticness  danceability  ...       key  mode  time_signature
0   13918      0.301205      0.744663  ...  0.090909   0.0             0.8
1  173485      0.656627      0.573007  ...  0.818182   0.0             0.8
2  175642      0.939759      0.408862  ...  0.818182   0.0             0.2
3  211588      0.763052      0.383113  ...  0.818182   0.0             0.8
4  171599      0.702811      0.510782  ...  0.818182   0.0             0.8
5  174847      0.658635      0.550477  ...  0.818182   0.0             0.8

[6 rows x 14 columns]

In [ ]:
df_output.head(6)

   acousticness  danceability  ...          mode  time_signature
0      0.207297      0.718174  ...  1.943039e-06        0.793649
1      0.821972      0.558626  ...  5.778223e-24        0.721252
2      0.806439      0.563019  ...  1.673145e-23        0.722003
3      0.799163      0.566266  ...  2.008544e-23        0.723046
4      0.834770      0.554889  ...  8.478765e-24        0.720771
5      0.841267      0.551875  ...  9.328385e-24        0.719923

[6 rows x 13 columns]

In [ ]:
df_input - df_output

   acousticness  danceability  duration_ms  ...     tempo  time_signature   valence
0      0.093907      0.026489     0.000382  ... -0.120053        0.006351  0.167062
1     -0.165345      0.014382     0.148816  ... -0.077927        0.078748  0.041806
2      0.133320     -0.154158    -0.014937  ...  0.141056       -0.522003 -0.017332
3     -0.036111     -0.183152    -0.000656  ... -0.117587        0.076954 -0.346821
4     -0.131959     -0.044107     0.066007  ... -0.104150        0.079229 -0.295702
5     -0.182632     -0.001397    -0.018197  ...  0.133712        0.080077 -0.140870

[6 rows x 14 columns]