<a href="https://colab.research.google.com/github/bw-spotify2/ds/blob/master/Song_Selector_Model_Building.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Initial building of the model.

### Load in the Dataset

In [1]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Lambda/Unit 4/Sprint 4/SpotifyFeatures.csv')
df.sample(10)

              genre      artist_name  ... time_signature valence
67389       Hip-Hop        Omar LinX  ...            4/4   0.108
71557         Blues       Etta James  ...            4/4   0.334
5980    Alternative             MGMT  ...            4/4   0.690
38289    Electronic          Justice  ...            4/4   0.276
59104         Opera  Tomaso Albinoni  ...            3/4   0.121
42686          Folk   Sufjan Stevens  ...            4/4   0.339
54260         Movie           Chorus  ...            4/4   0.701
176369         Jazz  Minnie Riperton  ...            4/4   0.478
150296          Pop           j-hope  ...            4/4   0.670
225473         Rock   Sufjan Stevens  ...            4/4   0.563

[10 rows x 18 columns]

In [2]:
df['mode'] = df['mode'].replace({"Major":1, "Minor":0})
df.head()

   genre        artist_name  ... time_signature valence
0  Movie     Henri Salvador  ...            4/4   0.814
1  Movie  Martin & les fées  ...            4/4   0.816
2  Movie    Joseph Williams  ...            5/4   0.368
3  Movie     Henri Salvador  ...            4/4   0.227
4  Movie       Fabien Nataf  ...            4/4   0.390

[5 rows x 18 columns]

In [3]:
df['time_signature'].value_counts()

4/4    200760
3/4     24111
5/4      5238
1/4      2608
0/4         8
Name: time_signature, dtype: int64

In [4]:
df['time_signature'] = df['time_signature'].replace({'4/4':4,'3/4':3,'5/4':5,'1/4':1,'0/4':0})
df.head()

   genre        artist_name  ... time_signature valence
0  Movie     Henri Salvador  ...              4   0.814
1  Movie  Martin & les fées  ...              4   0.816
2  Movie    Joseph Williams  ...              5   0.368
3  Movie     Henri Salvador  ...              4   0.227
4  Movie       Fabien Nataf  ...              4   0.390

[5 rows x 18 columns]

In [5]:
df['key'].value_counts()

C     27583
G     26390
D     24077
C#    23201
A     22671
F     20279
B     17661
E     17390
A#    15526
F#    15222
G#    15159
D#     7566
Name: key, dtype: int64

In [6]:
key_dict = {'C':0,'C#':1,'D':2,'D#':3,'E':4,'F':5,'F#':6,'G':7,'G#':8,'A':9,'A#':10,'B':11}
df['key'] = df['key'].replace(key_dict)
df.head()

   genre        artist_name  ... time_signature valence
0  Movie     Henri Salvador  ...              4   0.814
1  Movie  Martin & les fées  ...              4   0.816
2  Movie    Joseph Williams  ...              5   0.368
3  Movie     Henri Salvador  ...              4   0.227
4  Movie       Fabien Nataf  ...              4   0.390

[5 rows x 18 columns]

In [7]:
# Connect to the API in case we need to look at it's output

!pip install spotipy --upgrade
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd
import time 

client_id = '14f59f665a094868921bdd76e420d7c0'
client_secret = '5e16ddb0f2ed45a69949330bbd34351a'
username = 'mahoryu'

client_credentials_manager = SpotifyClientCredentials(client_id, client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

Collecting spotipy
  Downloading https://files.pythonhosted.org/packages/b2/67/ea788ae3d7e3aad0b0ef72a4f5b6c24c1dbb3db83fd57efc221f86b4fe87/spotipy-2.12.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (2.23.0)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (1.12.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2020.4.5.2)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (3.0.4)
Installing collected packages: spotipy
Successfully installed spotipy-2.12.0

### Define the columns we want to use and make a df with it

In [55]:
# define headers
headers = ['popularity','acousticness','danceability','duration_ms','energy','instrumentalness','liveness','loudness','speechiness','tempo','valence', 'key', 'mode', 'time_signature']
df_new = df[headers]

In [56]:
df_new.head()

   popularity  acousticness  danceability  ...  key  mode  time_signature
0           0         0.611         0.389  ...    1     1               4
1           1         0.246         0.590  ...    6     0               4
2           3         0.952         0.663  ...    0     0               5
3           0         0.703         0.240  ...    1     1               4
4           4         0.950         0.331  ...    5     1               4

[5 rows x 14 columns]

In [57]:
df_new.shape

(232725, 14)

### Make the model

In [58]:
# imports 

from keras.models import Model
from keras.layers import Input, Dense
from keras import regularizers
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [59]:
# Normalise the data
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(df_new)

#### Pickle the Scaler

In [60]:
import pickle

# Dump the trained classifier (autoencoder)  with Pickle
pickle_filename_1 = 'scaler_model.pkl'
pickled_model_1 = open(pickle_filename_1, 'wb')  # Open the file to save as pkl file
pickle.dump(scaler, pickled_model_1)
pickled_model_1.close() # Close the pickle instances

# Loading the saved model
model_pkl_1 = open(pickle_filename_1, 'rb')
scaler_model = pickle.load(model_pkl_1)
print ("Loaded model :: ", scaler_model)  # print to verify

Loaded model ::  MinMaxScaler(copy=True, feature_range=(0, 1))

#### Create actual Model

In [61]:
# set the scaled data to a new df
df_scaled = pd.DataFrame(data_scaled,columns=headers)
df_scaled.head()

   popularity  acousticness  danceability  ...       key  mode  time_signature
0        0.00      0.613454      0.356292  ...  0.090909   1.0             0.8
1        0.01      0.246988      0.571934  ...  0.545455   0.0             0.8
2        0.03      0.955823      0.650252  ...  0.000000   0.0             1.0
3        0.00      0.705823      0.196438  ...  0.090909   1.0             0.8
4        0.04      0.953815      0.294067  ...  0.454545   1.0             0.8

[5 rows x 14 columns]

In [65]:
# create the actual autoencoder

# set the input dimentions to what is in the df_new
input_dim = df_new.shape[1]  # 14

# Number of neurons in each Layer [14, 7, 3, ...] of encoders
input_layer = Input(shape=(input_dim, ))
encoder_layer_1 = Dense(8, activation="relu", activity_regularizer=regularizers.l1(10e-5))(input_layer)
encoder_layer_2 = Dense(3, activation="relu")(encoder_layer_1)

# Crear encoder model
encoder = Model(inputs=input_layer, outputs=encoder_layer_2)

decoder_1 = Dense(8, activation='relu')(encoder_layer_2)
decoder_output = Dense(input_dim, activation = 'sigmoid')(decoder_1)

autoencoder = Model(input_layer, decoder_output)

autoencoder.summary()

Model: "model_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_7 (InputLayer)         (None, 14)                0
_________________________________________________________________
dense_25 (Dense)             (None, 8)                 120
_________________________________________________________________
dense_26 (Dense)             (None, 3)                 27
_________________________________________________________________
dense_27 (Dense)             (None, 8)                 32
_________________________________________________________________
dense_28 (Dense)             (None, 14)                126
=================================================================
Total params: 305
Trainable params: 305
Non-trainable params: 0
_________________________________________________________________

In [66]:
from tensorflow.keras.callbacks import EarlyStopping

# compile the autoencoder
autoencoder.compile(optimizer='nadam',
                    loss='binary_crossentropy') 
                    
stop = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3)

# fit the model
autoencoder.fit(df_scaled, df_scaled,
                epochs=100,
                batch_size=128,
                validation_split=0.2,
                callbacks=[stop])

Train on 186180 samples, validate on 46545 samples
Epoch 1/100
186180/186180 [==============================] - 8s 41us/step - loss: 0.5098 - val_loss: 0.4757
Epoch 2/100
186180/186180 [==============================] - 7s 40us/step - loss: 0.4778 - val_loss: 0.4716
Epoch 3/100
186180/186180 [==============================] - 8s 41us/step - loss: 0.4693 - val_loss: 0.4562
Epoch 4/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4561 - val_loss: 0.4487
Epoch 5/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4512 - val_loss: 0.4462
Epoch 6/100
186180/186180 [==============================] - 7s 40us/step - loss: 0.4496 - val_loss: 0.4455
Epoch 7/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4486 - val_loss: 0.4449
Epoch 8/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4479 - val_loss: 0.4445
Epoch 9/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4478 - val_loss: 0.4446
Epoch 10/100
186180/186180 [==============================] - 8s 41us/step - loss: 0.4467 - val_loss: 0.4415
Epoch 11/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4417 - val_loss: 0.4376
Epoch 12/100
186180/186180 [==============================] - 8s 40us/step - loss: 0.4389 - val_loss: 0.4352
Epoch 13/100
186180/186180 [==============================] - 8s 41us/step - loss: 0.4383 - val_loss: 0.4353
Epoch 14/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4381 - val_loss: 0.4352
Epoch 15/100
186180/186180 [==============================] - 8s 41us/step - loss: 0.4379 - val_loss: 0.4350

In [67]:
# Use the model to predict the factors which sum up the selected atributes of the songs,
#   by making an encoded_data df.
encoded_data = pd.DataFrame(encoder.predict(data_scaled))
encoded_data.columns = ['x', 'y', 'z']
encoded_data.head()

          x         y         z
0  1.273887  0.832778  0.433250
1  0.280818  0.413931  0.399893
2  0.155448  0.020456  0.424335
3  1.406550  0.740738  0.522780
4  1.234502  0.601306  0.528400

#### Try with less columns

(No go, we end up with a higher loss)

In [50]:
headers = ['acousticness','danceability','energy','instrumentalness','loudness','speechiness','valence', 'key', 'mode']
df_new = df[headers]

In [51]:
# Normalise the data
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(df_new)

# set the scaled data to a new df
df_scaled = pd.DataFrame(data_scaled,columns=headers)
df_scaled.head()

   acousticness  danceability    energy  ...  valence       key  mode
0      0.613454      0.356292  0.910909  ...    0.814  0.090909   1.0
1      0.246988      0.571934  0.737732  ...    0.816  0.545455   0.0
2      0.955823      0.650252  0.131113  ...    0.368  0.000000   0.0
3      0.705823      0.196438  0.326313  ...    0.227  0.090909   1.0
4      0.953815      0.294067  0.225209  ...    0.390  0.454545   1.0

[5 rows x 9 columns]

In [53]:
# create the actual autoencoder

# set the input dimentions to what is in the df_new
input_dim = df_new.shape[1]  # 14

# Number of neurons in each Layer [14, 7, 3, ...] of encoders
input_layer = Input(shape=(input_dim, ))
encoder_layer_1 = Dense(6, activation="relu", activity_regularizer=regularizers.l1(10e-5))(input_layer)
encoder_layer_2 = Dense(3, activation="relu")(encoder_layer_1)

# Crear encoder model
encoder = Model(inputs=input_layer, outputs=encoder_layer_2)

decoder_1 = Dense(6, activation='relu')(encoder_layer_2)
decoder_output = Dense(input_dim, activation = 'sigmoid')(decoder_1)

autoencoder = Model(input_layer, decoder_output)

autoencoder.summary()

Model: "model_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_5 (InputLayer)         (None, 9)                 0
_________________________________________________________________
dense_17 (Dense)             (None, 6)                 60
_________________________________________________________________
dense_18 (Dense)             (None, 3)                 21
_________________________________________________________________
dense_19 (Dense)             (None, 6)                 24
_________________________________________________________________
dense_20 (Dense)             (None, 9)                 63
=================================================================
Total params: 168
Trainable params: 168
Non-trainable params: 0
_________________________________________________________________

In [54]:
# compile the autoencoder
autoencoder.compile(optimizer='nadam',
                    loss='binary_crossentropy') 
                    
stop = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3)

# fit the model
autoencoder.fit(df_scaled, df_scaled,
                epochs=100,
                batch_size=128,
                validation_split=0.2,
                callbacks=[stop])

Train on 186180 samples, validate on 46545 samples
Epoch 1/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.5335 - val_loss: 0.5178
Epoch 2/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4768 - val_loss: 0.4740
Epoch 3/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4680 - val_loss: 0.4668
Epoch 4/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4654 - val_loss: 0.4621
Epoch 5/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4640 - val_loss: 0.4603
Epoch 6/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4632 - val_loss: 0.4592
Epoch 7/100
186180/186180 [==============================] - 8s 45us/step - loss: 0.4626 - val_loss: 0.4591
Epoch 8/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4622 - val_loss: 0.4590
Epoch 9/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4619 - val_loss: 0.4567
Epoch 10/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4617 - val_loss: 0.4576
Epoch 11/100
186180/186180 [==============================] - 8s 43us/step - loss: 0.4615 - val_loss: 0.4578
Epoch 12/100
186180/186180 [==============================] - 8s 42us/step - loss: 0.4614 - val_loss: 0.4569

#### Other Testing

In [86]:
########
## try resonstructing a song to see accuracy visually.
########
df_input = df_scaled[:1]
df_output = pd.DataFrame(autoencoder.predict(df_input),columns=headers)

In [87]:
# Starting scaled data
df_input.head()

   popularity  acousticness  danceability  ...       key  mode  time_signature
0         0.0      0.613454      0.356292  ...  0.090909   1.0             0.8

[1 rows x 14 columns]

In [88]:
# reconstructed scaled data
df_output.head()

   popularity  acousticness  danceability  ...       key  mode  time_signature
0    0.402415      0.323837      0.568413  ...  0.107396   1.0        0.777633

[1 rows x 14 columns]

In [89]:
# the difference between the two
df_difference = df_input-df_output
df_difference.head()

   popularity  acousticness  danceability  ...       key  mode  time_signature
0   -0.402415      0.289617      -0.21212  ... -0.016487   0.0        0.022367

[1 rows x 14 columns]

In [25]:
# plot the x,y coordinates
# encoded_data.plot.scatter('x','y')

#### Pickle the Model

In [26]:
import pickle

# Dump the trained classifier (autoencoder)  with Pickle
pickle_filename = 'autoencoder_model.pkl'
pickled_model = open(pickle_filename, 'wb')  # Open the file to save as pkl file
pickle.dump(autoencoder, pickled_model)
pickled_model.close() # Close the pickle instances

# Loading the saved model
model_pkl = open(pickle_filename, 'rb')
autoencoder_model = pickle.load(model_pkl)
print ("Loaded model :: ", autoencoder_model)  # print to verify

Loaded model ::  <keras.engine.training.Model object at 0x7f35519439b0>

In [28]:
# Get test data

df_input = df_scaled[:1]
encoded_data_test = pd.DataFrame(encoder.predict(df_input))
encoded_data_test.columns = ['x', 'y', 'z']
encoded_data_test.head()

          x         y         z
0  0.869386  0.805411  0.477762

In [29]:
test_x = encoder.predict(df_input)[0][0]
test_y = encoder.predict(df_input)[0][1]
test_z = encoder.predict(df_input)[0][2]

### Get Distance

In [30]:
# example of euclidian distance
from scipy.spatial import distance
a = (1, 2, 3)
b = (4, 5, 6)
dst = distance.euclidean(a, b)

In [31]:
encoded_data.head()

          x         y         z
0  0.869386  0.805411  0.477762
1  0.665960  1.143413  0.350866
2  0.588679  0.669358  0.309636
3  0.709266  0.630260  0.426421
4  0.763386  0.510344  0.486433

In [32]:
encoded_data['track_id'] = df['track_id']
encoded_data.head()

          x         y         z                track_id
0  0.869386  0.805411  0.477762  0BRjO6ga9RKCKjfDqeFgWV
1  0.665960  1.143413  0.350866  0BjC1NfoEOOusryehmNudP
2  0.588679  0.669358  0.309636  0CoSDzoNIKCRs124s9uTVy
3  0.709266  0.630260  0.426421  0Gc6TVm52BwZD07Ki6tIvf
4  0.763386  0.510344  0.486433  0IuslXpMROHdEPvSl1fTQK

In [33]:
# save the encoded data as a .csv file    

encoded_data.to_csv("encoded_data.csv", index=False)

### Test out the pickled model

In [34]:
# test out reading it in.
df1 = pd.read_csv("encoded_data.csv")
df1.head()

          x         y         z                track_id
0  0.869386  0.805411  0.477762  0BRjO6ga9RKCKjfDqeFgWV
1  0.665960  1.143413  0.350866  0BjC1NfoEOOusryehmNudP
2  0.588679  0.669358  0.309636  0CoSDzoNIKCRs124s9uTVy
3  0.709266  0.630260  0.426421  0Gc6TVm52BwZD07Ki6tIvf
4  0.763386  0.510344  0.486433  0IuslXpMROHdEPvSl1fTQK

In [35]:
encoded_data_test[['x','y','z']].values

array([[0.86938643, 0.8054109 , 0.47776186]], dtype=float32)

In [38]:
def get_e_dist(in_df):
  return distance.euclidean(in_df[[0,1,2]], (test_x,test_y,test_z))

In [39]:
encoded_data['e_distance'] = encoded_data.apply(get_e_dist, axis=1)

In [40]:
encoded_data.head()

          x         y         z                track_id  e_distance
0  0.869386  0.805411  0.477762  0BRjO6ga9RKCKjfDqeFgWV    0.000000
1  0.665960  1.143413  0.350866  0BjC1NfoEOOusryehmNudP    0.414404
2  0.588679  0.669358  0.309636  0CoSDzoNIKCRs124s9uTVy    0.354363
3  0.709266  0.630260  0.426421  0Gc6TVm52BwZD07Ki6tIvf    0.242801
4  0.763386  0.510344  0.486433  0IuslXpMROHdEPvSl1fTQK    0.313649

#### Get the 5 smallest distances and show the visuals for the top 2

In [ ]:
encoded_data['e_distance'].nsmallest(5)

0         5.960464e-08
137871    3.013010e-03
190202    3.036266e-03
69761     3.136666e-03
117514    3.136666e-03
Name: e_distance, dtype: float64

In [ ]:
print(df['track_name'][0])
print(df['track_name'][137871])
print(df['track_name'][190202])

C'est beau de faire un Show
Push Push
Los Angeles Is Burning

In [ ]:
df.iloc[[0,48095,38564]]

            genre     artist_name  ... time_signature valence
0           Movie  Henri Salvador  ...            4/4   0.814
48095       Blues  Shovels & Rope  ...            4/4   0.628
38564  Electronic           Moksi  ...            4/4   0.523

[3 rows x 18 columns]

In [ ]:
df_T = df_scaled.T

In [ ]:
import plotly.express as px

fig = px.bar_polar(df_T, r = 0,hover_name=headers)
fig.show()

In [ ]:
fig = px.bar_polar(df_T, r = 48095, hover_name=headers)
fig.show()

## Build a Function for DS Unit 3 to use

In [41]:
df.iloc[[13918]]

       genre     artist_name  ... time_signature valence
13918  Dance  Britney Spears  ...              4   0.894

[1 rows x 18 columns]

In [96]:
# test
song_at = [[77,0.3,0.751,211160,0.834,0.000018,0.355,-5.444,0.0437,95.053,0.894,1,0,4]]

In [92]:
### Read in the CSV ###
database = pd.read_csv('encoded_data.csv')

In [97]:
def predict(song_attributes, database):
  """
  Need to pass in a variable that is an array with the below song attributes 
  in order.
  [[popularity, acousticness, danceability, duration_ms, energy, instrumentalness,
  liveness, loudness, speechiness, tempo, valence, key, mode, time_signature]]
  """

  import pandas as pd
  import pickle

  df =  pd.DataFrame(song_attributes)

  ### Scale Input ###

  # import the pickled scaler model
  pickle_filename_1 = 'scaler_model.pkl'
  scaler_pkl = open(pickle_filename_1, 'rb')
  scaler = pickle.load(scaler_pkl) 

   # scale the input data
  input_scaled = scaler.transform(df)

  ### Encode Input ###

  # Loading the pickled autoencoder model
  pickle_filename = 'autoencoder_model.pkl'
    
  autoencoder_pkl = open(pickle_filename, 'rb')
  autoencoder = pickle.load(autoencoder_pkl)
  # encode the input data and set to variable
  input_x_y_z = (autoencoder.predict(input_scaled)[0][0], 
                 autoencoder.predict(input_scaled)[0][1],
                 autoencoder.predict(input_scaled)[0][2])

  ### Get distances ###
  def get_e_dist(my_df):
    from scipy.spatial import distance
    return distance.euclidean(my_df[[0,1,2]], input_x_y_z)

  database['e_distance'] = database.apply(get_e_dist, axis=1)

  five_smallest = database[['e_distance','track_id']].nsmallest(5, columns='e_distance', keep='all')

  five_closest = five_smallest['track_id']

  return five_closest.to_json()

In [98]:
test = predict(song_at, database)
test

'{"123296":"1sh3CLfGBEX28rdnIi827U","82894":"7r0lwexkZgNoTI6kb0skPB","210190":"69eD0IfAqEIUnKX63Npksy","107627":"2nrDcpSp46mVXsYtunWoen","105185":"1oXjlewRQDPoozHy3Cbwob"}'

In [99]:
df.iloc[[13918,123296,82894,210190,107627,105185]]

            genre      artist_name  ... time_signature valence
13918       Dance   Britney Spears  ...              4  0.8940
123296  Classical  Giacomo Puccini  ...              3  0.0487
82894       Opera  Giacomo Puccini  ...              3  0.0857
210190      World        Brian Eno  ...              1  0.0332
107627      Opera  Giacomo Puccini  ...              3  0.0430
105185  Classical      Franz Liszt  ...              4  0.0417

[6 rows x 18 columns]